body[scheme="dark"] {
    --background_root: #000;
    --nav_button-background: #222222;
    --red: #FF0000;
    --sign_background: #222222;
    --text: #FFFFFF;
    --text_description: #575757;
    --text_footer: #757575;
}
