@import url('./colorpalette_dark.css');
@import url('./colorpalette_light.css');
@import url('./fonts/main.css');

a { 
    cursor: pointer;
}
h1, h2 {
    margin: 0;
}
body {
    --font-family: "Bebas Regular", system-ui, "Helvetica Neue", Roboto, sans-serif;
    --online: #1DCC00;
    --red: #FF0000;
    background-color: var(--background_root) !important;
    font-family: var(--font-family) !important;
    overflow-x: hidden;
}
label {
    font-family: var(--font-family) !important;
}
.header {
    font-weight: bold;
    color: var(--text);
}
.description {
    font-weight: normal;
    color: var(--text_description);
}

.swiper-button-next {
    background-image: url(./next_b_swiper.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    right: 20px;
}
.swiper-button-prev {
    background-image: url(./prev_b_swiper.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    left: 20px
}
.swiper-wrapper {
    overflow-y: visible;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}