.root {
    display: flex;
    justify-content: space-between;
    background-color: var(--cell_background);
    border-radius: 14px;
    align-items: center;
    padding: 12px 23px;
}
.main {
    display: flex;
    align-items: center;
}
.position {
    margin-right: 12px;
    color: var(--cell_position);
}
.avatar {
    margin-right: 19px;
}

