.promo_sign {
    padding-bottom: 0;
    align-items: center;
}
.promo_all {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    width: 100%;
    background: url('/assets/JETGAME_big.png') 10% no-repeat;
}
.promo_texts {
    width: 30%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.promo_header {
    font-size: 48px;
}
.promo_description {
    font-size: 24px;
    margin-bottom: 20px;
}
.promo_button {
    margin: 0 auto;
}
.promo_container_img {
    width: 40%;
    overflow: visible;
}
.promo_img {
    /* top: -80px; */
    bottom: 0;
    position: absolute;
    height: 140%;
}

.news_swiper {
    /* display: flex; */
    height: 383px;
    background-color: black;
}
.news_card {
    padding: 5px 10px;
    width: 255px;
    background-color: blue;
    border-radius: 16px;
    box-sizing: border-box;
}
.news_card_content {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 17px;
}
.news_card_g {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64))
}
.statistics-player {
    min-width: 390px;
    justify-content: center;
}
@media (min-width: 1200px) {
    .statistics-player {
        justify-content: space-around;
    }
    .statistics-player_rank {
        width: 35%;
    }
}
.statistics-player_rank {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;
}
.statistics-player_cell {
    margin: 8px 0;
}
.statistics-player_sep {
    height: 300px;
    width: 9px;
    background-color: var(--red);
    border-radius: 9px;
    box-shadow: 0px 0px 60px rgba(255, 0, 0, 0.25);
    align-self: center;
    position: absolute;
}

@media screen and (max-width: 1350px) {
    .promo_img {
        height: 120%;
    }
    .promo_header {
        font-size: 3.5vw;
    }
    .promo_description {
        font-size: 2vw;
    }
}
@media screen and (max-width: 1000px) {
    .promo_container_img {
        display: none;
    }
    .promo_texts {
        width: 100%;
    }
    .promo_all {
        background: url('/assets/JETGAME_small.png') 10% no-repeat;
    }
}
@media screen and (max-width: 600px) {
    .promo_header {
        font-size: 29px;
    }
    .promo_description {
        font-size: 12px;
    }
}