.heading {
    width: 100%;
    height: 300px;
    border-radius: 22px;
    display: flex;
    align-items: center;
}
.heading_avatar_root {
    margin: 0 38px 0 83px;
    position: relative;
    display: flex;
    
}
.heading_avatar_caption {
    border-radius: 20px;
    background-color: var(--red);
    text-align: center;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3px;
}
.heading_body {
    display: flex;
    flex-direction: column;
}
.heading_body_title {
    font-size: 48px;
    display: flex;
    align-items: center;
}
.heading_body_caption {
    font-size: 18px;
    opacity: 0.4;
}
.root {
    flex-direction: column;
}
.servers_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.servers_item {
    width: 350px;
    height: 154px;
    margin: 20px;
    padding: 40px 80px;
    border-radius: 23px;
    align-items: center;
    text-align: left;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 350px;
}
.servers_item_content {
    position: absolute;
}
.servers_item_button {
    padding: 0 80px
}
.servers_item_texts {
    margin-bottom: 15px;
}
.news_card_g {
    position: absolute;
    border-radius: 23px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.64))
}
.card_caption {
    font-size: 14px;
    color: var(--inputs_light_text);
}